{% load static %}


<!DOCTYPE html>
<html lang="ja">


<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width ,initial-scale=1">



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">  
<link rel="stylesheet" href="{% static 'css/lpage.css' %}">

<!-- google fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Murecho:wght@500&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Shippori+Mincho&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Potta+One&family=Train+One&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Shippori+Mincho&family=Special+Elite&display=swap" rel="stylesheet">

<!-- Place your kit's code here -->
<script src="https://kit.fontawesome.com/786b9446b9.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!-- animatecss-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<html>
<body>
        <div class="ec-layoutRole__header">
            <!-- ▼ヘッダー(商品検索・ログインナビ・カート) -->
        <div class="ec-headerNaviRole">
            <div class="ec-headerNaviRole__left">
                <div class="ec-headerNaviRole__search">
                    <div class="ec-headerSearch">
                        <form method="get" class="searchform" action="/products/list">
                            <div class="ec-select ec-select_search">
                                <!-- ::before -->
                                <select name="category_id" class="category_id">
                                    <option value="">全ての商品</option>
                                    <option value="12">イベント</option>
                                    <option value="11">HHCP</option>
                                    <option value="1">THC-O</option>
                                    <option value="2">HHC-O</option>
                                </select>
                            </div>
                            <div class="ec-input">
                                <input type="search" name="name" maxlength="50" class="search-name" placeholder="キーワードを入力">
                                <button class="ec-headerSearch__keywordBtn" type="submit">
                                    <div class="ec-icon">検索
                                        <img src="{% static 'image/megane2.svg' %} " width = "8%" height= "8%" alt="">
                                    </div>
                                </button>
                            </div>
                        </form>
                        <!-- ::after -->
                    </div>
                </div>

            </div>
        <div class="ec-headerNaviRole__right">
            <div class="ec-headerNaviRole__nav">               
                <div class="ec-headerNav">
                    <div class="ec-headerNav__item">
                        <a href="https://dice-cnd.com/entry">
                            <i class="ec-headerNav__itemIcon fas fa-user fa-fw">
                                <!-- ::before -->
                            </i>
                            <span class="ec-headerNav__itemLink">新規会員登録</span>
                        </a>
                    </div>
                    <div class="ec-headerNav__item">
                        <a href="https://dice-cnd.com/mypage/favorite">
                            <i class="ec-headerNav__itemIcon fas fa-heart fa-fw">
                                <!-- ::before -->
                            </i>
                            <span class="ec-headerNav__itemLink">お気に入り</span>
                        </a>
                    </div>
                    <div class="ec-headerNav__item">
                        <a href="https://dice-cnd.com/mypage/login">
                            <i class="ec-headerNav__itemIcon fas fa-lock fa-fw">
                                <!-- 7 -->
                            </i>
                            <span class="ec-headerNav__itemLink">ログイン</span>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <div class="ec-headerRole__cart">
                <div class="ec-cartNaviWrap">
                    <div class="ec-cartNavi">
                        <i class="ec-cartNavi__icon fas fa-shopping-cart">
                            <!-- ::before -->
                            <span class="ec-cartNavi__badge">0</span>
                        </i>
                        <div class="ec-cartNavi__label">
                            <div class="ec-cartNavi__price">￥0</div>
                        </div>
                    </div>
                    <br>
                    <div class="ec-cartNaviNull">
                        <div class="ec-cartNaviNull__message">
                            <p>現在カート内に商品はございません。</p>
                        </div>
                    </div>
                </div>
                <!-- ::after -->
            </div>
        </div>
        </div>
        <!-- ▲ヘッダー(商品検索・ログインナビ・カート) -->

        </div>

    <div class = "smokeimg">
        <img src="{% static 'image/smoke3.png' %} " width="70%" height=auto alt="">
        <p class="toprightt">あなた史上　最高の<br>
            <span>"Relax Time"</span></p>
    </div>
    <br><br>
    <div class = "linegif">
        <img src="{% static 'image/line015_004.gif' %} " width="95%" height=auto alt="">
    </div>

    <div class = "followus">
        <br>
        <p>・・・FOLLOW US・・・</p>
    </div>

    <div>
        <ul class="socialEffect__box">
            <li>
                <a class="socialEffect__link icon-line" href="https://store.line.me/officialaccount/ja">
                    <img src="https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG6nd2kY2qO90cTgOdEP9h7EimfFOrstkBSTAAxrVh54GZIqZAsgZ_bOAtkP526acwmhOPlvbjxAe-g_GQ_t4p8yEspgGTjDW4KXL6-EouCe6CANmo1aPHq6PQlf7wm5iMPh0sz8n6Hg_BBNpHjptso0=/line-me.png?errorImage=false" alt="">
                </a>
            </li>
            <li>
                <a class="socialEffect__link icon-instagram" href="https://www.instagram.com/dice_2020_/">
                  <img src="https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqGwmnAdiifZOSZdUqafS39PabG6ovhKFMMJMGXakz4NBXNYNVoktHGVe5yUGBW38-pGx0lUqhxcm-RSRl3_QX5A-gMALMuZMDPPbGXns-XieQXCDwV7ML5M2T-p2_51RZksKBrOvcV_h1B_WUXqk_AlIP-exZ-24UX98A_XultMjYpVHdfOunCHT89quwD_-sHr7g07sefpqbGdRG3jhF9BNeQNHOxn-9j5_acgT2uKpP/icon-instagram-circle-color.png?errorImage=false" alt="">
                </a>
            </li>
            <li>
                <a class="socialEffect__link icon-twitter" href="https://twitter.com/dice_2022">
                    <img src="{% static 'image/twitterlogo.png' %} " alt="">
                </a>
            </li>
        </ul>

    </div>
    <br><br>
    <div class = "linegif">
        <img src="{% static 'image/line015_004.gif' %} " width="95%" height=auto alt="">
    </div>




    <div class = "theworld">
        <br>
        <p>THE WORLD is yours<br>前売り券</p>
    </div>

    <div class = "wrapper2">
        <section class="main2">
            <a href="https://dice-cnd.com/products/detail/40">
                <img src="{% static 'image/ticket1.png' %}" width="70%" height=auto>
                <p class="ec-newItemRole__listItemTitle">THE WORLD is YOURS...【前売り】</p>
                <p class="ec-newItemRole__listItemTitle">男性：２drink+豪華特典</p>
                <p class="ec-newItemRole__listItemPrice">￥3,000(税込)</p>
            </a>
        </section>
        <section class="side2">
            <a href="https://dice-cnd.com/products/detail/41">
                <img src="{% static 'image/ticket2.png' %}" width="70%" height=auto>
                <p class="ec-newItemRole__listItemTitle">THE WORLD is YOURS...【前売り】</p>
                <p class="ec-newItemRole__listItemTitle">女性：２drink+豪華特典</p>
                <p class="ec-newItemRole__listItemPrice">￥2,000(税込)</p>
            </a>
        </section>
    </div>



    <div class="bg-image">
        <img src="{% static 'image/leaf1.jpg' %}"  alt="">
        <p class="text">その自然特性を模倣するために<br>最も進歩的なプロセスと化学を利用し生成した<br>＜カンナビノイドリキッド＞<br><br><br>
            品質✖️クオリティーに<br>絶対的な自信を持ってお届けします</p>
        <a href="https://t.me/yamanote194">
            <div class="box4">
                <h1>配達<span>DELIVERY</span></h1>
                <p>----CLICK----</p>
            </div>
        </a>
    </div>

    <br><br><br><br>
    <div class = "hhcp">
        <p>HHCP</p>
    </div>

    <div class = "blackwhite">
        <img src="{% static 'image/blackwhite1.png' %} " width="70%" height=auto alt="">

        <div class = "wrapper3">
            <section class="main3">
                <a href="https://dice-cnd.com/products/detail/38">
                    <img src="{% static 'image/whitedice1.png' %}" width="80%" height=auto><br><br>
                    <p class="ec-newItemRole__listItemTitle">【HHCP 25%】</p>
                    <p class="ec-newItemRole__listItemTitle">OG KUSH-0.5ml＜HHCO50%＞</p>                       
                    <p class="ec-newItemRole__listItemPrice">￥19,800(税込)】</p>
                </a>
            </section>
            <section class="side3">
                <a href="https://dice-cnd.com/products/detail/41">
                    <img src="{% static 'image/blackdice1.png' %}" width="80%" height=auto><br>
                    <br><p class="ec-newItemRole__listItemTitle">【HHCP 25%】</p>
                    <p class="ec-newItemRole__listItemTitle">Blue Dream-0.5ml＜HHCO50%＞</p>
                    <p class="ec-newItemRole__listItemPrice">￥19,800(税込)</p>
                </a>
            </section>
        </div>
    </div>


        <div class = "hhcp">
            <p>HHC-O</p>
        </div>

        <div class = "wrapper4">
            <section class="main4">
                <a href="https://dice-cnd.com/products/detail/7">
                    <img src="{% static 'image/whitehhc1.png' %}" width="80%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜HHC-O 75%＞<br>OG KUSH-0.5ml</h2>                    
                    <p class="ec-newItemRole__listItemPrice">￥10,800(税込)】</p>
                </a>
            </section>
            <section class="side4">
                <a href="https://dice-cnd.com/products/detail/8">
                    <img src="{% static 'image/blackhhc1.png' %}" width="80%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜HHC-O 75%＞<br>Blue Dream-0.5ml</h2>   
                    <p class="ec-newItemRole__listItemPrice">￥10,800(税込)</p>
                </a>
            </section>
        </div>
        <div class = "wrapper5">
            <section class="main5">
                <a href="https://dice-cnd.com/products/detail/9">
                    <img src="{% static 'image/whitehhc2.png' %}" width="80%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜HHC-O 75%＞<br>OG KUSH-1.0ml</h2>                    
                    <p class="ec-newItemRole__listItemPrice">￥19,800(税込)】</p>
                </a>
            </section>
            <section class="side5">
                <a href="https://dice-cnd.com/products/detail/10">
                    <img src="{% static 'image/blackhhc2.png' %}" width="80%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜HHC-O 75%＞<br>Blue Dream-1,0ml</h2>   
                    <p class="ec-newItemRole__listItemPrice">￥19,800(税込)</p>
                </a>
            </section>
        </div>
        <!-- 四角 -->
        <div class = "wrapper4">
            <section class="main4">
                <a href="https://dice-cnd.com/products/detail/11">
                    <img src="{% static 'image/whitehhc3.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜HHC-O 75%＞<br>【0.5ml-3本セット】</h2>                    
                    <p class="ec-newItemRole__listItemPrice">￥30,000(税込)】</p>
                </a>
            </section>
            <section class="side4">
                <a href="https://dice-cnd.com/products/detail/14">
                    <img src="{% static 'image/blackhhc3.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜HHC-O 75%＞<br>【1.0ml-3本セット】</h2>   
                    <p class="ec-newItemRole__listItemPrice">￥57,000(税込)</p>
                </a>
            </section>
        </div>
        <div class = "wrapper5">
            <section class="main5">
                <a href="https://dice-cnd.com/products/detail/12">
                    <img src="{% static 'image/whitehhc4.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜HHC-O 75%＞<br>【0.5ml-5本セット】</h2>                    
                    <p class="ec-newItemRole__listItemPrice">￥48,000(税込)】</p>
                </a>
            </section>
            <section class="side5">
                <a href="https://dice-cnd.com/products/detail/15">
                    <img src="{% static 'image/blackhhc4.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜HHC-O 75%＞<br>【1.0ml-5本セット】</h2>   
                    <p class="ec-newItemRole__listItemPrice">￥93,000(税込)</p>
                </a>
            </section>
        </div>
        <div class = "wrapper4">
            <section class="main4">
                <a href="https://dice-cnd.com/products/detail/13">
                    <img src="{% static 'image/whitehhc5.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜HHC-O 75%＞<br>OG KUSH-1.0ml</h2>                    
                    <p class="ec-newItemRole__listItemPrice">￥93,000(税込)】</p>
                </a>
            </section>
            <section class="side4">
                <a href="https://dice-cnd.com/products/detail/16">
                    <img src="{% static 'image/blackhhc5.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜HHC-O 75%＞<br>【1.0ml-5本セット】</h2>   
                    <p class="ec-newItemRole__listItemPrice">￥183,000(税込)</p>
                </a>
            </section>
        </div>
        <!-- THC-O -->
        <div class = "hhcp">
            <p>THC-O</p>
        </div>

        <div class = "wrapper4">
            <section class="main4">
                <a href="https://dice-cnd.com/products/detail/3">
                    <img src="{% static 'image/whitethc1.png' %}" width="80%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜THC-O 75%＞<br>OG KUSH-0.5ml</h2>                    
                    <p class="ec-newItemRole__listItemPrice">￥10,800(税込)】</p>
                </a>
            </section>
            <section class="side4">
                <a href="https://dice-cnd.com/products/detail/4">
                    <img src="{% static 'image/blackthc1.png' %}" width="80%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜THC-O 75%＞<br>Blue Dream-0.5ml</h2>   
                    <p class="ec-newItemRole__listItemPrice">￥10,800(税込)</p>
                </a>
            </section>
        </div>
        <div class = "wrapper5">
            <section class="main5">
                <a href="https://dice-cnd.com/products/detail/5">
                    <img src="{% static 'image/whitethc2.png' %}" width="80%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜THC-O 75%＞<br>OG KUSH-1.0ml</h2>                    
                    <p class="ec-newItemRole__listItemPrice">￥19,800(税込)】</p>
                </a>
            </section>
            <section class="side5">
                <a href="https://dice-cnd.com/products/detail/6">
                    <img src="{% static 'image/blackthc2.png' %}" width="80%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜THC-O 75%＞<br>Blue Dream-1,0ml</h2>   
                    <p class="ec-newItemRole__listItemPrice">￥19,800(税込)</p>
                </a>
            </section>
        </div>
        <!-- 四角 -->
        <div class = "wrapper4">
            <section class="main4">
                <a href="https://dice-cnd.com/products/detail/17">
                    <img src="{% static 'image/whitethc3.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜THC-O 75%＞<br>【0.5ml-3本セット】</h2>                    
                    <p class="ec-newItemRole__listItemPrice">￥30,000(税込)】</p>
                </a>
            </section>
            <section class="side4">
                <a href="https://dice-cnd.com/products/detail/20">
                    <img src="{% static 'image/blackthc3.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜THC-O 75%＞<br>【1.0ml-3本セット】</h2>   
                    <p class="ec-newItemRole__listItemPrice">￥57,000(税込)</p>
                </a>
            </section>
        </div>
        <div class = "wrapper5">
            <section class="main5">
                <a href="https://dice-cnd.com/products/detail/18">
                    <img src="{% static 'image/whitethc4.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜THC-O 75%＞<br>【0.5ml-5本セット】</h2>                    
                    <p class="ec-newItemRole__listItemPrice">￥48,000(税込)】</p>
                </a>
            </section>
            <section class="side5">
                <a href="https://dice-cnd.com/products/detail/21">
                    <img src="{% static 'image/blackthc4.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜THC-O 75%＞<br>【1.0ml-5本セット】</h2>   
                    <p class="ec-newItemRole__listItemPrice">￥93,000(税込)</p>
                </a>
            </section>
        </div>
        <div class = "wrapper4">
            <section class="main4">
                <a href="https://dice-cnd.com/products/detail/19">
                    <img src="{% static 'image/whitethc5.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜THC-O 75%＞<br>OG KUSH-1.0ml</h2>                    
                    <p class="ec-newItemRole__listItemPrice">￥93,000(税込)】</p>
                </a>
            </section>
            <section class="side4">
                <a href="https://dice-cnd.com/products/detail/22">
                    <img src="{% static 'image/blackthc5.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜THC-O 75%＞<br>【1.0ml-5本セット】</h2>   
                    <p class="ec-newItemRole__listItemPrice">￥183,000(税込)</p>
                </a>
            </section>
        </div>
        <!-- other -->
        <div class = "hhcp">
            <p>OTHER</p>
        </div>
        <div class = "moon">
            <img src="{% static 'image/plasma-ball.jpg' %} " width="60%" height=auto alt="">
            <div class = "other">
                <a href="https://dice-cnd.com/products/detail/41">
                    <img src="{% static 'image/whiteother1.png' %}" width="60%" height=auto>  
                    <br><br><p class="ec-newItemRole__listItemPrice">ヴェポライザー</p>
                    <p class="ec-newItemRole__listItemPrice">￥1,000(税込)</p>
                </a>
            </div>
        </div>

        <!-- 桃源郷 -->
        <div class = "hhcp">
            <p>桃源郷</p>
        </div>
        <div class = "wrapper4">
            <section class="main4">
                <a href="https://dice-cnd.com/products/detail/38">
                    <img src="{% static 'image/momo1.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜THC-O 75%＞<br>THC-O 【桃源郷-摩天楼】</h2>                    
                    <p class="ec-newItemRole__listItemPrice">￥7,000 〜￥19,800(税込)</p>
                </a>
            </section>
            <section class="side4">
                <a href="https://dice-cnd.com/products/detail/41">
                    <img src="{% static 'image/momo2.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜THC-O 75%＞<br>THC-O 【桃源郷-月下美人】</h2>   
                    <p class="ec-newItemRole__listItemPrice">￥7,000 〜￥19,800(税込)</p>
                </a>
            </section>
        </div>
        <div class = "wrapper5">
            <section class="main5">
                <a href="https://dice-cnd.com/products/detail/38">
                    <img src="{% static 'image/momo3.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜HHC-O 75%＞<br>HHC-O 【桃源郷-万華鏡】</h2>                    
                    <p class="ec-newItemRole__listItemPrice">￥7,000 〜￥19,800(税込)</p>
                </a>
            </section>
            <section class="side5">
                <a href="https://dice-cnd.com/products/detail/41">
                    <img src="{% static 'image/momo4.png' %}" width="60%" height=auto>
                    <h2 class="ec-newItemRole__listItemTitle">＜THC-O 75%＞<br>HHC-O 【桃源郷-桜花爛漫】</h2>   
                    <p class="ec-newItemRole__listItemPrice">￥7,000 〜￥19,800(税込)</p>
                </a>
            </section>
        </div>

        <div class="bg-image2">
            <img src="{% static 'image/neon2.jpg' %}"  alt="">
            <p class="text">Dear My Brothers<br><br><br>心と人生を躍らせて<br><br>あなたの求める日常は<br>あなた自身の中にあるのだから</p>
        </div>
        <div class = "togenkyolink">
            <a href="https://dice-cnd.com/products/detail/38">
                <img src="{% static 'image/togenkyo1.png' %}" width="60%" height=auto>
            </a>
        </div>
        

        <ul class="ec-footerNavi">
            <li class="ec-footerNavi__link">
                <a href="https://dice-cnd.com/help/about">当サイトについて</a>
            </li>
            <li class="ec-footerNavi__link">
                <a href="https://dice-cnd.com/help/privacy">プライバシーポリシー</a>
            </li>
            <li class="ec-footerNavi__link">
                <a href="https://dice-cnd.com/help/tradelaw">特定商取引法に基づく表記</a>
            </li>
            <li class="ec-footerNavi__link">
                <a href="https://dice-cnd.com/contact">お問い合わせ</a>
            </li>
        </ul>
        <div class="ec-footerTitle">

            <div class="ec-footerTitle__copyright">copyright (c) Dice CND all rights reserved.</div>
        </div>

        








    
</body>
</html>